coffee/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
node_modules/
maven-status/
.vscode/launch.json
coffee/target/test-classes/com/coffee/coffee/CoffeeApplicationTests.class
